MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_APP_DATABASE=
MONGO_APP_PORT=


JWT_SECRET=
JWT_EXPIRATION_MS=

APP_ADMIN_BOOTSTRAP_ENABLED=
APP_ADMIN_BOOTSTRAP_USERNAME=
APP_ADMIN_BOOTSTRAP_PASSWORD=

APP_AGENT_TIER_BOOTSTRAP_ENABLED=
APP_AGENT_TIER_BOOTSTRAP_NAME=
APP_AGENT_TIER_BOOTSTRAP_DESCRIPTION=

APP_PRODUCT_BOOTSTRAP_ENABLED=

APP_FULFILLMENT_BOOTSTRAP_ENABLED=

APP_PAYMENT_FAKE_OUTCOME=

SPRING_PROFILES_ACTIVE=